
  .animatedBackground:before {
    animation: spin 50s linear infinite;
    background-image: url('../public/blackTexture.jpeg');
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.1;
    position: fixed;
    top: -110%;
    width: 200%;
  }
  


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}