@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
    .slide.active {
      @apply  opacity-100 transition duration-1000;
    }
    .slide {
      @apply opacity-0 transition duration-1000 ease-in-out  ;
    }
  }

  .swiper-button-prev.swiper-button-prev{
    --swiper-theme-color: #ed1c2c;
    opacity: 0.7;
  }
  .swiper-button-next.swiper-button-next{
    --swiper-theme-color: #ed1c2c;
    opacity: 0.7;
  }
  .swiper-button-prev.swiper-button-prev:hover{
    --swiper-theme-color: #ed1c2c;
    opacity: 1;
  }
  .swiper-button-next.swiper-button-next:hover{
    --swiper-theme-color: #ed1c2c;
    opacity: 1;
  }
/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ed1c2c;
  opacity: 1;
}

/* target all bullets */

p.swiper-pagination-bullet {
  width: 2px;
  height: 60px;
  border-radius: 2px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.6;


}

p.swiper-pagination-bullet-active {
  
  background: rgb(220 38 38);
  opacity: 90%;
  transition-property: all;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 150ms;

}

/*C'est une bétise woulaaaaaaaaaaaaaa !!!!!!!!!!! 
<--------------------------GROSSE COONERIE J4AI MIS TOUT LE CSS DANS LE GLOBAL ------------->*/

.dropdown-menu {
    background: red;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background: #1888ff;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #5cabff;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }
